/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #1e3c72 0%, #982a2a 100%);
}

.navbar-logo .logo-img {
  height: 50px;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: white;
  font-size: 2.5rem; /* Increased font size */
  text-decoration: none;
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search-input {
  width: 400px; /* Increased width */
  padding: 1rem; /* Increased padding */
  border-radius: 10px; /* Increased border radius */
  border: 2px solid #fff; /* Added border */
  font-size: 1.5rem; /* Increased font size */
  color: #000; /* Changed text color */
}

.navbar-search-button {
  padding: 1rem 2rem;
  margin-left: 1rem; /* Increased margin */
  border: none;
  background-color: var(--red-color);
  color: white;
  border-radius: 10px; /* Increased border radius */
  cursor: pointer;
  font-size: 1.5rem; /* Increased font size */
}

.navbar-links {
  display: flex;
  gap: 2rem; /* Increased gap */
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Increased font size */
}
